.panels-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    flex-wrap: wrap;
    position: relative;
    padding: 0px 8px;
    overflow: hidden;
    justify-content: space-around;
    align-items: flex-start;
    box-sizing: border-box;
}


.panel {
    background-color: #565656;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    margin: 1rem;
    padding: 1rem;
}